ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 10px 0;
        padding: 20px;
        border-left: 20px solid transparent;
        line-height: normal;
        &.active {
            border-left: 1rem solid rgba(0,100,255,.5);
            background-color: rgba(0,100,255,.1);
        }
        &:not(.active) {
            color: var(--color, rgba(0, 0, 0, 0.75));
        }
        .title {
            font-weight: bold;
            display: block;
            margin-bottom: .5rem;
        }
        code {
            background: rgba(0,0,0,.1);
            line-height: 1;
            font-family: "Fira code";
        }
    }
}